@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply text-lg hover:text-moody;
  }
  .navicon {
    @apply w-8 h-7 relative rotate-0 cursor-pointer ease-in-out transition duration-500;
  }
  .navicon span {
    @apply w-full block absolute opacity-100 left-0 rotate-0 rounded-full bg-dark duration-200 transition-all ease-in-out;
    height: 2px;
  }
  .navicon span:nth-child(1) {
    @apply top-0;
  }
  .navicon span:nth-child(2) {
    @apply top-3;
  }
  .navicon span:nth-child(3) {
    @apply top-6;
  }
  .navicon.open span:nth-child(1) {
    top: 13px;
    transform: rotate(135deg);
  }
  .navicon.open span:nth-child(2) {
    @apply opacity-0 -left-16;
  }
  .navicon.open span:nth-child(3) {
    top: 12px;
    transform: rotate(-135deg);
  }

  .slider_info {
    @apply w-full h-full text-center flex flex-col items-center justify-center;
  }
  .slidertext {
    @apply font-bold font-cormorant text-center text-2xl md:text-4xl lg:text-6xl text-white lg:w-1/2 transition-all ease-linear capitalize drop-shadow-md shadow-red-600;
  }
  .sliderbtn {
    @apply bg-moody text-white hover:bg-white hover:text-moody transition-all inline-block p-2 px-4 lg:p-3 lg:px-5 my-6 uppercase;
  }
  .slideIn {
    @apply p-0 m-0 opacity-0 text-center;
    margin-left: 50%;
    transform: translateX(-100%);
    animation: slide-in 2.4s ease-out forwards;
  }
  @keyframes slide-in {
    20% {
      opacity: 0;
    }
    60% {
      transform: translateX(-45%);
    }
    75% {
      transform: translateX(-52%);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%);
    }
  }
  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none !important;
  }
  .docimg {
    background-image: url(../src/assets/images/drgeetika.jpeg);
  }
  .testimonialimg {
    background-image: url(../src/assets/images/tastimonialbanner.jpg);
  }
  p {
    @apply font-questrial;
  }
}
